@model IEnumerable<SupplyHub.Web.Models.Product>

@{
    ViewData["Title"] = UiTexts.Index;
}

<div class="container pb-3">
    <h1>@UiTexts.Products</h1>
</div>

<div class="container p-2 my-2">
    <a asp-action="Create" class="btn btn-outline-primary">@UiTexts.NewProduct</a>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-light fa-magnifying-glass fa-2x"></i></span>
    </div>
    <input type="text" id="productSearch" class="form-control" placeholder="@UiTexts.SearchProductPlaceholder" aria-label="Search product" aria-describedby="basic-addon1" />
</div>

<div class="container pt-2 bg-light ">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SKU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.Id">@UiTexts.Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">@UiTexts.Details</a> |
                        <button class="btn btn-danger btn-sm delete-btn"
                                data-id="@item.Id"
                                data-name="@item.Name"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal">
                            @UiTexts.Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="noResultsMessage" class="alert alert-warning mt-3" style="display: none;">
    @UiTexts.NoProductsFound
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">@UiTexts.ConfirmDeletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p id="deleteMessage"></p>
            </div>

            <div class="modal-footer">
                <form id="deleteForm" asp-action="Delete">
                    <input type="hidden" name="id" id="deleteProductId" />
                    <button type="submit" class="btn btn-danger">@UiTexts.Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@UiTexts.Cancel</button>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#productSearch').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('tbody tr').filter(function () {
                    var text = $(this).find("td:first").text().toLowerCase();
                    $(this).toggle(text.indexOf(value) > -1)
                });

                if ($('tbody tr:visible').length === 0) {
                    $("#noResultsMessage").show();
                } else {
                    $('#noResultsMessage').hide();
                };
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.delete-btn').on('click', function () {
                var productId = $(this).data('id');
                var productName = $(this).data('name');
                $('#deleteMessage').text(`Are you sure you want to delete the product "${productName}"?`);
                $('#deleteProductId').val(productId);
            });
        });
    </script>
}